<h2>Dashboard</h2>
<hr/>
<div class="row" *ngIf="fleets">
  <div class="col-lg-6">
    <ngx-charts-bar-vertical 
      [view]="[600,600]"
      [results]="data"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Fleets'"
      [yAxisLabel]="'Number of vehicles'"
      >
    </ngx-charts-bar-vertical>
  </div>
  <div class="col-lg-6">
    <ngx-charts-line-chart 
    [view]="[600,600]"
    [results]="weekData"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Fleets'"
    [yAxisLabel]="'Number of vehicles'">
    </ngx-charts-line-chart>
    <table class="table">
        <tr *ngFor="let fleet of fleets">
          <td>{{ fleet.name }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="showGraph(fleet)">Pick</button>
          </td>
        </tr>
      </table>
  </div>
</div>

