<div *ngIf="vehicle">
	<div class="col-lg-12">
		<h1>{{vehicle.manufacturer}} {{vehicle.model}},
			{{vehicle.productionYear}}</h1>
		<br />
	</div>

	<button (click)='goBack()' class="btn btn-default">Back</button>

  //TODO: Usuwanie z journala?
	<div *ngFor="let jor of vehicle.journal" class="row">
    <h2>Repairs</h2>
    <table class="table">
      <thead class="thead-inverse">
      <th>Description</th>
      <th>Cost</th>
      <th>Date</th>
      </thead>
      <tbody>
        <tr *ngFor="let repair of jor.repairs">
          <td>{{ repair.description }}</td>
          <td> {{ repair.cost }}</td>
          <td> {{ repair.date }}</td>
        </tr>
      </tbody>
    </table>

    <h2>Checkouts</h2>
    <table class="table">
      <thead class="thead-inverse">
        <th>Date of checkout</th>
        <th>Expiration Date</th>
        <th>Result</th>
      </thead>
      <tbody>
        <tr *ngFor="let checkout of jor.checkouts">
          <td>{{ checkout.date }}</td>
          <td>{{ checkout.expirationDate }}</td>
          <td>{{ checkout.result }}</td>
        </tr>
      </tbody>
    </table>

    <h2>Insurances</h2>
    <table class="table">
      <thead class="thead-inverse">
      <th>Company</th>
      <th>Start date</th>
      <th>Expiration date</th>
      </thead>
      <tbody>
        <tr *ngFor="let insurance of jor.insurances">
          <td *ngIf="insurance.company">{{ insurance.company.name }}</td>
          <td> {{ insurance.startDate }}</td>
          <td> {{ insurance.endDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <app-repairform [fleet_id]="fleetId" [vehicle_id]="vehicleId" (onAdd)="initVehicle()"></app-repairform>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <app-checkoutform [fleetId]="fleetId" [vehicleId]="vehicleId" (onAdd)="initVehicle()"></app-checkoutform>
    </div>
    <div class="col-lg-6">
      <app-insuranceform [fleet_id]="fleetId" [vehicle_id]="vehicleId" (onAdd)="initVehicle()"></app-insuranceform>
    </div>
  </div>
