<div *ngIf="vehicle">
	<div class="col-lg-12">
		<h1>{{vehicle.content.manufacturer}} {{vehicle.content.model}},
			{{vehicle.content.productionYear}}</h1>
		<br />
	</div>

	<button (click)='goBack()' class="btn btn-default">Back</button>

	<div class="row">
			<h2>Repairs</h2>
			<table class="table">
				<tr>
					<th>Date</th>
					<th>Cost</th>
					<th>Description</th>
					<th>Options</th>
				</tr>
				<tr *ngFor="let repair of vehicle.content.repairs">
					<td class="col-lg-2">{{repair.date}}</td>
					<td class="col-lg-2">{{repair.cost}}</td>
					<td class="col-lg-7">{{repair.description}}</td>
					<td><button class="btn btn-danger btn-xs" (click)="deleteRepair(repair.id)">Delete</button></td>
				</tr>
			</table>
			<p *ngIf="vehicle.content.repairs[0] == undefined">No repairs!</p>
		</div>

		<div class="row">
			<h2>Insurances</h2>
			<table class="table">
				<tr>
					<th>Company</th>
					<th>Start date</th>
					<th>End date</th>
				</tr>
				<tr *ngFor="let insurance of vehicle.content.insurances">
					<td>{{insurance.company}}</td>
					<td>{{insurance.startDate}}</td>
					<td>{{insurance.endDate}}</td>
				</tr>
			</table>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<app-repairform [vehicle_id]="vehicle.content.id" (onAdd)="initVehicle()"></app-repairform>
		</div>
		<div class="col-lg-6">
			<app-insuranceform [vehicle_id]="vehicle.content.id" (onAdd)="initVehicle()"></app-insuranceform>
		</div>
</div>
