<div class="panel panel-default">
  <div class="panel-heading">
    {{ fleet?.name }}
  </div>
  <div class="panel-body">
    <span>Fleet status: {{ fleet?.status.status }}</span><br />
    <span>Vehicles without insurance: {{ fleet?.vehiclesWithoutInsurance }}</span><br />
    <span>Vehicles without checkouts {{ fleet?.vehiclesWithoutCheckout }}</span>
  </div>
</div>

<a [routerLink]="['vehicles/new']"class="btn btn-info">Add vehicle</a><br/><br/>

<table class="table table-hover table-striped">
  <tr>
    <th>Model</th>
    <th>Manufacturer</th>
    <th>Production Year</th>
    <th>Insurance</th>
    <th>Checkout</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let vehicle of vehicles">
    <td>{{ vehicle.model }}</td>
    <td>{{ vehicle.manufacturer }}</td>
    <td>{{ vehicle.productionYear }}</td>
    <td>
      <div *ngIf="vehicle.hasActualInsurance;else other_content">
        <span class="btn btn-xs btn-success btn-block">YES</span>
      </div>
    </td>
    <td>
      <div *ngIf="vehicle.hasValidCheckout;else other_content">
        <span class="btn btn-xs btn-success btn-block">YES</span>
      </div></td>
    <td>
      <a [routerLink]="['vehicle/', vehicle.id]" class="btn btn-xs btn-info">Show</a>
      <button (click)="delete(vehicle.content.id)" class="btn btn-xs btn-danger">Delete</button>
    </td>
  </tr>
</table>

<ng-template #other_content><span class="btn btn-xs btn-block btn-warning">NO</span></ng-template>
