<h2>{{ fleet?.name }}</h2>
<hr/>
<div class="card">
  <div class="card-body">
    <div class="card-block">
      <div class="card-deck">
        <div class="card">
          <h4 class="card-title text-center">Fleet status</h4>
            <div class="card-block">
              <img width=100 height=100 src="/assets/excellent.png" alt="Profile Picture" class="mx-auto d-block" *ngIf="fleet?.status.status > 90">
              <img width=100 height=100 src="/assets/verygood.png" alt="Profile Picture" class="mx-auto d-block" *ngIf="fleet?.status.status < 90 && fleet?.status.status > 60">
              <img width=100 height=100 src="/assets/medium.png" alt="Profile Picture" class="mx-auto d-block" *ngIf="fleet?.status.status < 60 && fleet?.status.status > 30">
              <img width=100 height=100 src="/assets/weak.png" alt="Profile Picture" class="mx-auto d-block" *ngIf="fleet?.status.status < 30 && fleet?.status.status > 10">
              <img width=100 height=100 src="/assets/bad.png" alt="Profile Picture" class="mx-auto d-block" *ngIf="fleet?.status.status < 10">
            </div>
        </div>
        <div class="card">
          <h4 class="card-title text-center">Without insurance</h4>
          <p class="h2 text-center">{{ fleet?.vehiclesWithoutInsurance }}</p><br />
        </div>
        <div class="card">
          <h4 class="card-title text-center">Without checkout</h4>
          <p class="h2 text-center">{{ fleet?.vehiclesWithoutCheckout }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<a [routerLink]="['vehicles/new']"class="btn btn-success">Add vehicle</a><br/><br/>
<div class="btn-group">
  <button class="btn btn-info" (click)="resetFilter()">All</button>
  <button class="btn btn-info" (click)="filterNoInsurance()">Without insurance</button>
  <button class="btn btn-info" (click)="filterNoCheckout()">Without checkout</button>
</div>
<br/><br/>

<div>
  <label for="date">Change report date</label>
  <input type="date" name="date" class="form-control" [(ngModel)]="date"/> 
  <button (click)="getFutureFleet()" class="btn btn-primary">Submit</button>
  <button (click)="initFleet()" class="btn btn-warning">Reset</button>
</div><br/>

<table class="table table-hover table-striped">
  <tr>
    <th>Model</th>
    <th>Manufacturer</th>
    <th>Production Year</th>
    <th>Insurance</th>
    <th>Checkout</th>
    <th></th>
  </tr>
  <tr *ngFor="let vehicle of vehicles">
    <td>{{ vehicle.model }}</td>
    <td>{{ vehicle.manufacturer }}</td>
    <td>{{ vehicle.productionYear }}</td>
    <td>
      <div *ngIf="vehicle.hasActualInsurance;else other_content">
        <span class="btn btn-xs btn-success btn-block disabled">YES</span>
      </div>
    </td>
    <td>
      <div *ngIf="vehicle.hasValidCheckout;else other_content">
        <span class="btn btn-xs btn-success btn-block disabled">YES</span>
      </div></td>
    <td>
      <a [routerLink]="['vehicle/', vehicle.id]" class="btn btn-xs btn-info">Show</a>
      <button (click)="delete(vehicle.content.id)" class="btn btn-xs btn-danger">Delete</button>
    </td>
  </tr>
</table>

<ng-template #other_content><span class="btn btn-xs btn-block btn-warning disabled">NO</span></ng-template>
